html {
  width: 800px;
  padding: 15px;
  background: #ffffff;
}

h1 {
  color: #ff0000;
}

#main-id {
  color: #0000ff;
}

.main-class {
  border-color: #555555;
  border-width: 5px;
}

.box {
  border-color: #ff0000;
  background-color: #00ff00;
  border-width: 5px;
}

.box .test .test2 {
  padding: 20px;
}
